[submodule "components/extended-api-for-Eclipse-Ditto"]
	path = components/extended-api-for-Eclipse-Ditto
	url = https://github.com/ertis-research/extended-api-for-Eclipse-Ditto
[submodule "kafka-ml-to-Eclipse-Ditto"]
	path = kafka-ml-to-Eclipse-Ditto
	url = https://github.com/ertis-research/kafkaml-to-Eclipse-Ditto
