/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #40407a;
  --ifm-color-primary-dark: #3a3a6e;
  --ifm-color-primary-darker: #363668;
  --ifm-color-primary-darkest: #2d2d55;
  --ifm-color-primary-light: #464686;
  --ifm-color-primary-lighter: #4a4a8c;
  --ifm-color-primary-lightest: #53539f;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #33d9b2;
  --ifm-color-primary-dark: #26cba4;
  --ifm-color-primary-darker: #24c09b;
  --ifm-color-primary-darkest: #23b996;
  --ifm-color-primary-light: #4addbb;
  --ifm-color-primary-lighter: #55dfbf;
  --ifm-color-primary-lightest: #77e6cc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: homespun;
  src: url(/static/fonts/homespun.ttf);
}

@font-face {
  font-family: DMMono;
  src: url(/static/fonts/DMMono-Regular.ttf);
}

@font-face {
  font-family: DMMono;
  src: url(/static/fonts/DMMono-Medium.ttf);
  font-weight	: bold
}

@font-face {
  font-family: DMMono;
  src: url(/static/fonts/DMMono-Light.ttf);
  font-weight	: lighter
}

@font-face {
  font-family: RobotoMono;
  src: url(/static/fonts/RobotoMono.ttf);
  font-weight	: lighter
}

.round-border {
  border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
}

.center-content {
  display: flex;
  justify-content: center;
}

.myNavbar {
  background-color: #ffffff;
}

[data-theme='dark'] .myNavbar {
  background-color: #1b1b1d;
}

.mainTitle {
  color: var(--ifm-color-primary);
}

[data-theme='dark'] .mainTitle {
  color: var(--ifm-color-primary-dark);
}

/* https://codepen.io/denic/pen/GRoOxbM */
.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  padding-top: 0;
  margin-top: 0;
}

.typing-demo {
  width: 9ch;
  animation: typing 2s steps(9), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: DMMono;
  font-weight	: normal;
  font-size: 5em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}